@{
    ViewBag.Title = "";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
	Github: https://github.com/HowSimple/cs_WeatherApp
</p>
<p>
	Developed using C#, using ASP.NET MVC.
	Data from OpenWeatherMaps.

</p>

