@{
    ViewBag.Title = "";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
	Code available on Github: https://github.com/HowSimple/cs_WeatherApp
</p>
<p>
	Developed using C#, using ASP.NET Core.
	Weather information provided by OpenWeatherMaps API: https://openweathermap.org/current
</p>

