@model WeatherApp.Models.WeatherResponse


<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@using ( Html.BeginForm("Index" , "Home" , FormMethod.Post) )
{
	<p>Enter your zipcode: @Html.TextBoxFor(x => x.Zipcode)</p>
	<input type="submit" value="Submit" />
}
