@{
	ViewBag.Title = "";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<asp:TextBox id="zip" runat="server" />
<br />
<br />


<p>The current temperature is @WeatherApp.Controllers.HomeController.CurrentTemp("64134")  F degrees.</p>
