@using WeatherApp.Models


<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<br />
<br />
<p>


	@model WeatherApi


	<p>The current  is   F degrees.</p>
	<p>The current temperature is @Model.Response.main.temp degrees.</p>